<form class="signin-form password-input-form">
    <i class="signin-icon monkey-icon">Monkey icon</i>
    <h2 class="signin-header">Enter a Password</h2>
    <p class="signin-description">Your account is protected with<br> an additional password.</p>
    <div class="input-group">
        <!-- TODO: Use handlebars to export directly -->
        <div id="password-input">
            <div class="line-input">
                <div class="input__prepend hidden">msg</div>
                <input class="input__field" type="password" placeholder="Password">
                <i class="show-password">X</i>
            </div>
            <div class="input__header">header</div>
            <div class="input__error">error</div>
        </div>
    </div>
    <button type="submit" class="btn--submit hidden">NEXT</button>
</form>